# Dir for bundles
dist
node_modules

ocm-api-v1.json
package-lock.json
openapi-base.json
openapi-merge.json

dist.yaml
redoc/index.html
build-redoc.ps1
bundle-redoc.ps1
docs/pages/_site
docs/pages/.jekyll-cache
docs/pages/.jekyll-metadata
docs/pages/Gemfile
docs/pages/Gemfile.lock
docs/pages/api/management/*
docs/pages/api/messaging/*