openapi: 3.0.3
info:
  title: Deveel OCM API
  version: v1
  description:
    $ref: description.md
  contact:
    name: Antonello Provenzano
    email: antonello@deveel.com
  license:
    name: Deveel EULA
    url: 'https://docs.ocm.deveel.net/LICENSE.html'
  x-logo:
    url: 'https://github.com/deveel/deveel.ocm.openapi-docs/raw/main/deveel-logo.png'
servers:
  - url: 'https://api.ocm.deveel.net'
paths:
  /message/batch:
    $ref: paths\message@batch.yaml
  /message/:
    $ref: paths\message@.yaml
  /message/state/subscription:
    $ref: paths\message@state@subscription.yaml
  '/message/state/subscription/{id}':
    $ref: 'paths\message@state@subscription@{id}.yaml'
  '/message/{id}/state':
    $ref: 'paths\message@{id}@state.yaml'
  '/message/received/{id}':
    $ref: 'paths\message@received@{id}.yaml'
  /message/receiver/:
    $ref: paths\message@receiver@.yaml
  '/message/receiver/{id}':
    $ref: 'paths\message@receiver@{id}.yaml'
  /message/receiver/page:
    $ref: paths\message@receiver@page.yaml
  '/channel/{channelId}':
    $ref: 'paths\channel@{channelId}.yaml'
  /channel/:
    $ref: paths\channel@.yaml
  /terminal/phone:
    $ref: paths\terminal@phone.yaml
  '/terminal/phone/{id}':
    $ref: 'paths\terminal@phone@{id}.yaml'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://deveel.eu.auth0.com/oauth/token'
          scopes:
            'send:message': Send messages or batch of messages to individuals
            'receive:message': Receive messages from individuals
            'read:channel': Read-only access to user Channels
            'create:channel': Create new user Channels
            'update:channel': Update settings of existing user Channels
            'delete:channel': Delete existing user Channels
            'read:phone': Read-only access to server phone numbers
            'create:phone': Request the registration of server phone numbers
            'update:phone': Update the status and settings of server phone numbers
            'delete:phone': Delete a server phone numbers
            'read:email': Read-only access to server email addresses
            'create:email': Request the registration of server email addresses
            'update:email': Update the status and settings of server email addresses
            'delete:email': Delete a server phone number
            'read:label': Read-only access to server alpha-numeric labels
            'create:label': Request the registration of server alpha-numeric labels
            'update:label': Update the status and settings of server alpha-numeric labels
            'delete:label': Delete a server alpha-numeric labels
        authorizationCode:
          authorizationUrl: 'https://deveel.eu.auth0.com/authorize'
          tokenUrl: 'https://deveel.eu.auth0.com/oauth/token'
          scopes:
            'send:message': Send messages or batch of messages to individuals
            'receive:message': Receive messages from individuals
            'read:channel': Read-only access to user Channels
            'create:channel': Create new user Channels
            'update:channel': Update settings of existing user Channels
            'delete:channel': Delete existing user Channels
            'read:phone': Read-only access to server phone numbers
            'create:phone': Request the registration of server phone numbers
            'update:phone': Update the status and settings of server phone numbers
            'delete:phone': Delete a server phone numbers
            'read:email': Read-only access to server email addresses
            'create:email': Request the registration of server email addresses
            'update:email': Update the status and settings of server email addresses
            'delete:email': Delete a server phone number
            'read:label': Read-only access to server alpha-numeric labels
            'create:label': Request the registration of server alpha-numeric labels
            'update:label': Update the status and settings of server alpha-numeric labels
            'delete:label': Delete a server alpha-numeric labels
