openapi: 3.0.3
info:
  title: Deveel OCM API
  version: v1
  description:
    $ref: description.md
  contact:
    name: Antonello Provenzano
    email: antonello@deveel.com
  license:
    name: Deveel EULA
    url: 'https://docs.ocm.deveel.net/LICENSE.html'
  x-logo:
    url: 'https://github.com/deveel/deveel.ocm.openapi-docs/raw/main/deveel-logo.png'
servers:
  - url: 'https://api.ocm.deveel.net'
paths:
  /message/batch:
    $ref: paths\message@batch.yaml
  /message/:
    $ref: paths\message@.yaml
  /message/webhook/subscription:
    $ref: paths\message@webhook@subscription.yaml
  /message/receiver/:
    $ref: paths\message@receiver@.yaml
  '/message/receiver/{id}':
    $ref: 'paths\message@receiver@{id}.yaml'
  /message/receiver/page:
    $ref: paths\message@receiver@page.yaml
  '/channel/{channelId}':
    $ref: 'paths\channel@{channelId}.yaml'
  /channel/:
    $ref: paths\channel@.yaml
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://deveel.eu.auth0.com/oauth/token'
          scopes:
            'message:send': Send messages to individuals
            'message:receive': Receive messages from individuals
            'phone:read': Read-only access to the phone numbers owned by the tenant
            'email:read': Read-only access to the e-mail addresses owned by the tenant
            'alphaNumeric:read': Read-only access to the alpha-numeric lables owned by the tenant
            'channel:read': Read-only access to the channels owned by the tenant
        authorizationCode:
          authorizationUrl: 'https://deveel.eu.auth0.com/authorize'
          tokenUrl: 'https://deveel.eu.auth0.com/oauth/token'
          scopes:
            'message:send': Send messages to individuals
            'message:receive': Receive messages from individuals
            'phone:read': Read-only access to the phone numbers owned by the tenant
            'email:read': Read-only access to the e-mail addresses owned by the tenant
            'alphaNumeric:read': Read-only access to the alpha-numeric lables owned by the tenant
            'channel:read': Read-only access to the channels owned by the tenant
